<?xml version="1.0" ?>
<configuration>
    <title>oman road</title>
    <logo>assets/images/logo.png</logo>
    <style>
        <colors>0xffffff,0x333333,0x101010,0x0,0xffd700</colors>
        <alpha>0.8</alpha>
        <font name="Verdana"/>
        <titlefont name="Verdana"/>
        <subtitlefont name="Verdana"/>
    </style>
    <!-- replace the following url with your own geometryservice -->
    <geometryservice url="https://utility.arcgisonline.com/arcgis/rest/services/Geometry/GeometryServer"/>
    <widget url="widgets/Navigation/NavigationWidget.swf" config="widgets/Navigation/NavigationWidget.xml" left="10" top="50"/>
    <widget url="widgets/OverviewMap/OverviewMapWidget.swf" config="widgets/OverviewMap/OverviewMapWidget.xml" right="0" bottom="0"/>
    <widget url="widgets/MapSwitcher/MapSwitcherWidget.swf" config="widgets/MapSwitcher/MapSwitcherWidget.xml" right="20" top="55"/>
    <widget url="widgets/HeaderController/HeaderControllerWidget.swf" config="widgets/HeaderController/HeaderControllerWidget.xml" left="0" top="0"/>
    <map attributionvisible="true" esrilogovisible="true" openhandcursorvisible="false" scalebarvisible="true" scalebar="default" zoomslidervisible="false" wraparound180="true" addarcgisbasemaps="true" initialextent="6459676.443554632 2697810.0750586214 6491741.77692022 2715696.3396773282" wkid="102100" top="40" portalurl="https://www.arcgis.com/">
        <basemaps>
            <layer type="tiled" label="World Street Map" icon="https://www.arcgis.com/sharing/rest/content/items/3b93337983e9436f8db950e38a8629af/info/thumbnail/ago_downloaded.jpg" url="https://services.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer" visible="true"/>
            <layer type="tiled" label="World Topographic Map" icon="https://www.arcgis.com/sharing/rest/content/items/30e5fe3149c34df1ba922e6f5bbf808f/info/thumbnail/ago_downloaded.jpg" url="https://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer" visible="false"/>
        </basemaps>
        <operationallayers>
            <layer type="feature" label="helth" icon="https://www.arcgis.com/sharing/rest/content/items/f04a3ae690934ca3bc8263d3549831e3/info/thumbnail/ago_downloaded.png?token=lkWlcdY0TOjaYd1WLbxvt2Dbqqo7PQihow67zopfK8OKvC%2DVynWeLGk1rPmPuP8zfB61WejZI4TuwBLymYn6x9eTKOIcKcSrL4UUJU97yfcatjdmMMzZON7iWal1700lgtC%2D2XludzOWjarWQ%2DgPBRY%5F2hmjeDLwFXpD0%2Dk9SDhi7VnO0JTb8UvHExlhFr7p" url="http://services7.arcgis.com/QGrheSuanL2Pponl/arcgis/rest/services/helth/FeatureServer/0" visible="true"/>
        </operationallayers>
    </map>
    <widgetcontainer layout="float">
        <widget url="widgets/Draw/DrawWidget.swf" config="widgets/Draw/DrawWidget.xml" label="Draw" icon="assets/images/i_draw2.png"/>
        <widget url="widgets/Print/PrintWidget.swf" config="widgets/Print/PrintWidget.xml" label="Print" icon="assets/images/i_print.png"/>
        <widget url="widgets/Chart/ChartWidget.swf" config="widgets/Chart/ChartWidget_1.xml" label="Chart" icon="assets/images/i_piechart.png"/>
        <widget url="widgets/Bookmark/BookmarkWidget.swf" config="widgets/Bookmark/BookmarkWidget_1.xml" label="Bookmark" icon="assets/images/i_bookmark.png"/>
        <widget url="widgets/LayerList/LayerListWidget.swf" config="widgets/LayerList/LayerListWidget_1.xml" label="Layer List" icon="assets/images/i_layers.png"/>
        <widget url="widgets/Query/QueryWidget.swf" config="widgets/Query/QueryWidget_1.xml" label="Query" icon="assets/images/GenericSearch32.png"/>
    </widgetcontainer>
</configuration>
